name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master", 'feature/**' ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff numpy setuptools pytest

    - name: Lint with ruff
      run: |
        ruff format --check .

    - name: Build extension
      run: |
        python setup.py build_ext --inplace

    - name: Test with unittest
      run: |
        export PYTHONPATH=$PYTHONPATH:.
        python -m unittest discover tests
